.js-irs-0 .irs-bar {
border-top-color: #333333;
border-bottom-color: #333333;
}

.js-irs-0 .irs-bar-edge {
border-color: #333333;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #a00;
}

.js-irs-1 .irs-bar {
border-top-color: #333333;
border-bottom-color: #333333;
}

.js-irs-1 .irs-bar-edge {
border-color: #333333;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #428bca;
}

.js-irs-2 .irs-bar {
border-top-color: #333333;
border-bottom-color: #333333;
}

.js-irs-2 .irs-bar-edge {
border-color: #333333;
}

.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar {
background: #0a0;
}